body{ 
    color: black;
    background: rgb(163, 243, 43);
    font-family: "Playfair Display", serif;
    margin; 0px;
    margin-bottom; 100px;

}
.chamada{
    background-color: antiquewhite;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

header{
    font-size: 35px;
    color: white;
    border: solid 3px antiquewhite;
    padding: 20px;
}
h1{
    font-size: 40px;
}
.chamada-texto{
    margin-right: 5%;
    
}